<div class="header" [ngClass]="{'header--active': isActive}">
    <div class="container">
        <section class="header__image">
            <div class="row">
                <div class="col-lg-12 center">
                    <div class="header__image-container">
                        <img class="img-fluid" src="assets/images/shlomi-cohen-avatar.png" alt="">
                    </div>
                    <h2 class="text-center">Shlomi Cohen</h2>
                    <h4 class="text-center">Web Developer</h4>
                </div>
            </div>
        </section>

        <section class="header__nav">
            <nav>
                <ul>
                    <li>
                        <a href="#hero">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
</div>
<div class="menu-btn-container">
    <button (click)="toggleMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
                d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
        </svg>
    </button>
</div>