@import "../../styles/global";
@import "../../styles/vars";

svg {
    width: 30px;
    height: 30px;
    opacity: 0.8;
}

.portfolio {
    margin-bottom: 4rem;

    &__wrapper {
        padding: 5rem 0;
    }

    &__item {
        position: relative;
        overflow: hidden;
        margin-bottom: 1rem;

        &:hover {
            .portfolio__item-content {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &__item-content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #ffffff, $alpha: 0.7);
        transform: scale(0.8);
        opacity: 0;
        transition: $transition_time all $cubic_style;

        @media screen and (max-width: 991px) {
            position: absolute;
            width: 100%;
            height: 35%;
            top: auto;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.7);
            transform: scale(1);
            opacity: 1;
            transition: 300ms all cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        &::before {
            display: block;
            content: "";
            width: 48px;
            height: 48px;
            position: absolute;
            top: 10px;
            left: 10px;
            border-top: 0.5px solid $dark_green;
            border-left: 0.5px solid $dark_green;
            transition: $transition_time all $cubic_style;
            z-index: 9994;
        }

        &::after {
            display: block;
            content: "";
            width: 48px;
            height: 48px;
            position: absolute;
            bottom: 10px;
            right: 10px;
            border-bottom: 0.5px solid $dark_green;
            border-right: 0.5px solid $dark_green;
            transition: $transition_time all $cubic_style;
            z-index: 9994;
        }
    }

    &__link {
        margin-top: 1rem;
    }

    .never__wrapper {
        margin: 0px auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        width: 90%;
        max-width: 400px;
        padding: 2rem 4rem;

        h1 {
            font-family: $font_black;
            font-size: 2.2rem;
            font-weight: 900;
            line-height: 1.5;

            span {
                background-color: rgb(47, 122, 121);
                color: rgb(242, 250, 250);
                margin-left: 0.3rem;
                margin-right: 0.3rem;
                padding-left: 0.6rem;
                padding-right: 0.6rem;
            }
        }

    }
}