/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./app/styles/global";


html,
body {
    height: 100%;
    background-color: $white_green;
    color: $dark_green;
    scroll-behavior: smooth;
}

body {
    font-family: $font_regular;
    margin: 0;
}