<section id="hero">
    <div class="d-flex justify-content-center align-items-center">
        <div class="hero__content">
            <img class="hero__image img-fluid" src="/assets/images/hello-world.png" alt="hero image">
            <h1>Shlomi Cohen</h1>
            <h2>I'm a <span class="main-color"> Frontend Developer</span></h2>
            <h3 class="hero__subheading">fed developer · technology addict · occasional designer · father and
                husband</h3>
        </div>
    </div>
</section>